@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://fonts.google.com/noto/specimen/Noto+Sans+Lao */
@font-face {
    font-family: "NotoSanLight";
    src: local("NotoSanLight"),
     url("../src/assets/font/NotoSansLao-Medium.ttf") format("truetype");
}

@layer components {
    .selected {
        color: #fff;
        background-color: #3b82f6 !important;
    }
}

html, body, ul, li, span, p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "NotoSanLight" !important;
}

.leaflet-marker-icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    content: ".";
    font-size: 1px;
    color: #3b82f6;
    border-radius: 50%;
    background: #3b82f6;
    width: 10px;
    height: 10px;
}